@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
}
li {
  list-style: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}
body {
  line-height: 1.6;
  color: #333;
  /* position: relative; */
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  font-size: 12px;
}

.header__logo {
  color: #000;
  width: 100px;
}
.header__logo img {
  width: 100%;
}
.header__vectors {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  align-items: center;
}
.header__vectors img {
  margin-right: 5px;
}
.header__navbar ul {
  list-style: none;
  display: flex;
}
.header__navbar ul li {
  padding: 5px 10px;
  cursor: pointer;
}
.header__search {
  display: flex;
}
.header__search input {
  margin-right: 15px;
  height: 30px;
  border: #0000002e 2px solid;
  border-radius: 7px;
  padding: 5px;
}

.promo {
  padding: 50px 0;
  /* text-align: center; */
}

.promo__title {
  font-size: 50px;
  color: #2a3848;
  line-height: 60px;
  font-weight: 800;
}
.promo__description {
  font-size: 14px;
  color: #687186;
  font-weight: 600;
  /* opacity: 0.6; */
  /* line-height: 60px; */
  /* font-weight: 800; */
}
.promo__btn {
  font-size: 14px;
  border: none;
  border-radius: 35px;
  padding: 15px 40px;
  margin-top: 40px;
  background-color: #ffd600;
  color: #333845;
}

.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 20px;
  padding: 20px 0;
}
.feature {
  display: flex;
  padding: 50px 0;
}
.feature__img {
  width: 55px !important;
  height: 55px;
  background-color: #ffd600;
  border-radius: 8px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.feature__description h2 {
  font-size: 16px;
  font-weight: 700;
  margin-top: 2px;
  line-height: 25px;
  margin-bottom: 15px;
  color: #333845;
}
.feature__description p {
  font-size: 13px;
  font-weight: 500;
  color: #687186;
  /* opacity: 0.7; */
}
.popular-vectors {
  padding: 0 20px;
}
.popular-vectors h1 {
  color: #333845;
}
.popular__vectors {
  background: #f8f8f8;
  padding: 30px 20px;
  border-radius: 20px;
  margin-bottom: 20px;
}
.popular__vectors hr {
  margin-top: 30px;
  margin-bottom: 20px;
}
.vectors {
  display: flex;
  justify-content: space-between;
}
.vectors__description {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.vectors__description h3 {
  font-size: 14px;
  margin-left: 10px;
  color: #333845;
}
.vector ul li {
  font-size: 12px;
  margin-bottom: 10px;
  color: #333845;
  padding: 5px;
}

.main-task {
  padding: 40px 0;
  margin: 30px 0;
}
.main-task__box {
  width: 70%;
}

.main-task__title {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333845;
}
.main-task__description {
  font-size: 14px;
  color: #333845;
}

.rating {
  padding: 40px 0;
  position: relative;
  margin-bottom: 100px;
}

.rating__ {
  width: 50%;
  position: relative;
  margin-top: 50px;
}

.rating__title {
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 20px;
}
.rating__title__description {
  color: #ffffff;
  font-size: 11px;
  margin-bottom: 20px;
}
.rating__background {
  width: 110%;
  margin-left: -10%;
  position: absolute;
}
.rating__background img {
  width: 100%;
}
.rating__image {
  width: 50%;
  position: absolute;
  margin-left: 60%;
  margin-top: 10%;
}
.rating__image img {
  width: 100%;
}

.our-rating {
  margin-bottom: 150px;
}

.our-rating__question {
  width: 45%;
  margin-bottom: 20px;
}
.our-rating__boxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 30px;
  padding: 20px 0;
  margin-bottom: 130px;
}
.box {
  padding: 20px 30px;
  background-color: #f4f4f4;
  border-radius: 15px;
}
.box__title {
  font-size: 15px;
  font-weight: 400;
  color: #2a3848;
}
.box__description {
  font-size: x-small;
  color: #4e5762;
}
.box__num {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.box__num img {
  margin-right: 10px;
}
.our-rating__title {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333845;
}
.our-rating__description {
  font-size: 13px;
  color: #333845;
}

.our-rating__application {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.our-rating__application h1 {
  width: 60%;
  text-align: center;
  margin-bottom: 20px;
  color: #333845;
}
.our-rating__application p {
  font-size: 13px;
  text-align: center;
  margin-bottom: 20px;
  color: #687186;
}
.our-rating__application button {
  text-align: center;
  padding: 10px 30px;
  border-radius: 30px;
  border: none;
  background-color: #ffd600;
  color: #333845;
}

.footer {
  background: #272f37;
  color: #fff;
  /* text-align: center !important; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 100px 0 0 0;
}
.footer__info {
  width: 80%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 40px;
}
.footer__info__menu hr {
  width: 180%;
  margin-bottom: 10px;
  color: #3b454f;
  background-color: #3b454f;
  height: 1px;
  border: none;
}
.footer__info__logo {
  width: 20%;
  /* margin-right: 50px; */
}
.footer__info__logo img {
  margin-bottom: 30px;
}
.footer__info__logo p {
  font-size: 10px;
  color: #919498;
}
.menu__title {
  margin-top: 15px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 30px;
}

.menu__list {
  display: flex;
  max-height: 350px;
  justify-content: space-between;
}
.menu__list ul {
  margin-right: 50px;
}
.menu__list ul li {
  font-size: 10px;
  margin-bottom: 10px;
  color: #919498;
}
.footer__info__support {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.message {
  margin-bottom: 20px;
}
.message p {
  color: #919498;
}
.message button {
  text-align: center;
  padding: 10px 30px;
  border-radius: 30px;
  border: none;
  background-color: #ffd600;
  color: #333845;
  margin-top: 10px;
}

.footer__bottom {
  background-color: #1d2630;
  padding: 40px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__bottom__content {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #919498;
}
.footer__bottom__content__logo {
  display: flex;
}
.footer__bottom__content__logo p {
  margin-right: 10px;
}

#support {
  margin-top: 15px;
  margin-bottom: 40px;
}
.icons {
  margin-top: 10px;
}
.footer__contacts {
  margin-bottom: 10px;
}

#vec {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
#mr-55 {
  margin-right: 95px;
}
#vec li {
  margin-right: 80px;
}

.yellow {
  background-color: #ffd600;
  border-radius: 5px;
  transition: 0.5s;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}
.modal-content form {
  display: flex;
  flex-direction: column;
}
.modal-content form input {
  margin-bottom: 10px;
  height: 30px;
  width: 50%;
}

.close {
  font-size: 14px;
  border: none;
  border-radius: 35px;
  padding: 15px 40px;
  margin-top: 40px;
  background-color: #ffd600;
  color: #333845;
}
